@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
@import url("https://use.typekit.net/und5hdp.css");
.container {
    position: relative;
}

.main_header {
    text-align: center;
}

.second_header {
    text-align: center;
}

.header_forms {
    width: 620px;
    margin: 0 auto;
}

.first_form {
    margin-right: 15px;
}

input[type = "text"]::-webkit-input-placeholder {
    color: #ffffff;
    text-align: left;
}

input[type = "email"]::-webkit-input-placeholder {
    color: #ffffff;
    text-align: left;
}

input:focus {
    outline: none;
}

.btn {
    max-width: 300px;
    height: 70px;
    background: #1b8bf9;
    margin-top: 40px;
    border-radius: 30px;
    margin-bottom: 150px;
}

.hdr_btn_text {
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
}

.header_wrapper {
    height: 800px;
    background-color: #63676b;
}

.lead_power {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    margin-top: 60px;
}

.main_header {
    color: #ffffff;
    font-size: 50px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    margin-top: 150px;
    margin-bottom: 53px;
}

.italic {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    display: inline-block;
}

.second_header {
    color: #ffffff;
    font-size: 16px;
    font-family: 'muli', sans-serif;
    font-weight: 400;
    margin-bottom: 67px;
}

.about_us {
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #a1a9b2;
    margin-top: 120px;
    margin-bottom: 40px;
}

.content_logo {
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    color: #292f35;
    margin-bottom: 222px;
}

.content_description {
    color: #8a949f;
    font-size: 16px;
    line-height: 2;
    font-family: 'muli', sans-serif;
    font-weight: 400;
}

.our_services {
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #a1a9b2;
    margin-top: 202px;
    margin-bottom: 41px;
}

.logo {
    margin-top: 0px;
    margin-bottom: 85px;
}

.content_img {
    margin-left: 60px;
    margin-top: 122px;
}

.hr {
    border-top: 1px solid #f4f4f5;
}

.images {
    margin-top: 85px;
}

.img_header {
    margin-top: 43px;
    color: #292f35;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}

.img_description {
    margin-top: 36px;
    color: #a1a9b2;
    font-size: 16px;
    font-family: 'muli', sans-serif;
    font-weight: 400;
}

.description {
    margin-bottom: 0;
}

.web_dvlp_header {
    margin-left: 36px;
}

.web_design_header {
    margin-left: 36px;
    margin-top: 53px;
}

span {
    display: inline-block;
}

.about_developing {
    margin-left: 80px;
    margin-top: 0;
}

.about_design {
    margin-left: 80px;
    margin-top: 0;
}

.picture {
    margin-top: 40px;
}

.picture_img {
    margin-top: 28px;
}

.our_pricing_table {
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #a1a9b2;
    margin-bottom: 40px;
    margin-top: 119px;
}

.second_part {
    background-color: #f6f9fd;
    position: relative;
    overflow: hidden;
}

.price_logo {
    margin-bottom: 136px;
}

.plan_header {
    font-size: 12px;
    font-family: 'muli', sans-serif;
    font-weight: 400;
    color: #1b8bf9;
    margin-top: 135px;
    margin-bottom: 23px;
}

.price_value {
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
}

.per_month {
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #8a949f;
    margin-top: 17px;
    margin-bottom: 55px;
}

.plan_description {
    font-size: 15px;
    font-family: 'muli', sans-serif;
    font-weight: 400;
    color: #8a949f;
    margin-bottom: 50px;
}

.small_btn {
    width: 140px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 170px;
    border: none;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 5px 20px #d8dce2;
}

.small_btn:focus {
    outline: none;
}

.get_started {
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.profecional_plan_block {
    margin: 86px auto 0;
    height: 440px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 0 20px 10px #f0f3f8;
    position: absolute;
    margin-bottom: 116px;
}

.profecional_plan {
    margin-top: 14px;
}

.blue_small_btn {
    background-color: #1b8bf9;
    color: #ffffff;
}

.mark {
    width: 22px;
    height: 35px;
    position: relative;
    z-index: 1;
    padding: 0;
    left: 258px;
}

.price_value {
    margin-top: 0;
}

.testimonials {
    font-size: 12px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #8a949f;
    margin-top: 119px;
    margin-bottom: 40px;
}

.about_partners {
    margin-top: 174px;
}

.about_partners_header {
    margin-bottom: 137px;
}

.client_photo {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #bbbbbb;
    margin-top: 85px;
    display: inline-block;
    margin-bottom: 43px;
}

.client_name {
    display: inline-block;
    margin-top: 108px;
    font-size: 16px;
    font-family: 'Hind', sans-serif;
    font-weight: 700;
    margin-left: 24px;
}

.about_client {
    display: flex;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.social_media {
    font-size: 12px;
    font-family: 'muli', sans-serif;
    font-weight: 400;
    color: #8a949f;
}

.story_about_user {
    font-size: 16px;
    font-family: 'muli', sans-serif;
    font-weight: 400;
    color: #8a949f;
    margin-bottom: 135px;
}

.footer {
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    color: #b1b8bf;
}
.btn_footer {
    margin-top: 66px;
}

.footer_description {
    margin-bottom: 0;
}

.footer_wrapper {
    height: 700px;
    background-color: #63676b;
}

.form {
    display: inline-block;
}

.input {
    text-align: center;
    width: 300px;
    height: 46px;
    border-radius: 3px;
    border: none;
    background-color: #929598;
    padding-left: 20px;
}

.content_wrapper {
    position: relative;
    overflow: hidden;
}

.poly_dots {
    position: absolute;
    display: inline-block;
    height: 560px;
    width: 516px;
    right: -257px;
    top: -122px;
}

.poly_dots_second {
    position: absolute;
    display: inline-block;
    height: 560px;
    width: 516px;
    left: -257px;
    top: -122px;
}
